@import "imports";
@import "templates";

html {
  height: 100%;
}

body {
  margin: 0;
  background: url("../img/login_bg.jpg") no-repeat center fixed;
  background-size: cover;

  img {
    width: 224px;
    margin: 64px;
  }

  form {
    display: inline-block;
    float: right;
    margin-top: 6.4vmin;
    margin-right: 20.1vmin;
    label {
      color: white;
      font: 300 $h1_size $main_font;
    }
  }

  #login {
    @include neon_button($geoshare_green, $geoshare_green_dark, 5px, 4);
  }

  #signup {
    @include neon_button(white, $off_white)
  }
}