.friendItem {
  height: 72px;
  display: flex;
  clear: right;
  float: right;
}

.friendsWrapper {
  pointer-events: all;
  float: right;
  max-height: calc(100% - 168px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.friendContainer {
  width: 320px;
  cursor: pointer;
  clear: right;
  float: right;

  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.friendContainer:not(.no-hover):hover {
  background-color: rgba(0,0,0,0.08);
  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.friendItem h2 {
  margin: auto 12px;
  font: 18px 'Roboto', sans-serif;
  color: #4caf50;
}

.friendItem img {
  margin: auto;
  margin-right: 12px;
  width: 64px;
  height: 64px;
  border-radius: 100px;
}

.friendOptionsContainer {
  display: inline-block;
  width: 320px;
  height: calc(58px * 3);
  background-color: white;
  border-radius: 10px;
}

.friendOptionsItem {
  height: 58px;
  display: flex;

  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.friendOptionsItem:hover {
  background-color: rgba(0,0,0,0.08);
  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.friendOptionsItem.first:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friendOptionsItem.last:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.friendOptionsItem h2 {
  margin: auto 12px;
  font: 18px 'Roboto', sans-serif;
}
