.friendItem {
  height: 72px;
  display: flex;
  clear: right;
  float: right;
}

.friendsWrapper {
  pointer-events: all;
  float: right;
  max-height: calc(100% - 168px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.friendContainer {
  width: 320px;
  cursor: pointer;
  clear: right;
  float: right;

  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.friendContainer:not(.no-hover):hover {
  background-color: rgba(0,0,0,0.08);
  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.friendItem h2 {
  margin: auto 12px;
  font: 18px 'Roboto', sans-serif;
  color: #4caf50;
}

.friendItem img {
  margin: auto;
  margin-right: 12px;
  width: 64px;
  height: 64px;
  border-radius: 100px;
}

.friendOptionsContainer {
  display: inline-block;
  width: 320px;
  height: calc(58px * 3);
  background-color: white;
  border-radius: 10px;
}

.friendOptionsItem {
  height: 58px;
  display: flex;

  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.friendOptionsItem:not(.last):hover {
  background-color: rgba(0,0,0,0.08);
  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.friendOptionsItem.first:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friendOptionsItem.last {
  cursor: default;
}

.friendOptionsItem h2 {
  margin: auto auto auto 12px;
  font: 18px 'Roboto', sans-serif;
}

.friendOptionsItem input {
  position: relative;
  top: -0.375rem;
  margin: auto 1rem auto 0;
  cursor: pointer;
}

.friendOptionsItem input:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #4caf50;
}

.friendOptionsItem input:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #ff9800;
  border-top-style: none;
  border-right-style: none;
}

.friendOptionsItem input:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}
