.friend-search {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  pointer-events: none;
}

.friend-search-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.64);
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
}

.friend-search-container {
  display: flex;
  background-color: white;
  width: 400px;
  max-height: 700px;
  top: -72px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  pointer-events: all;
}

.friend-search-container.open {
  -webkit-transform: translateY(72px);
  transform: translateY(72px);
  transition-duration: 0.3s;
}

.friend-search-container.closed {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.friend-search-wrapper {
  width: 100%;
}

.friend-search-box {
  background-color: #4caf50;
  display: flex;
  padding: 16px;
  float: left;
  width: calc(100% - 32px);
}

.friend-search-box input {
  background: transparent;
  width: calc(100% - 40px);
  margin: auto;
  margin-left: 0;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  color: white;
  vertical-align: middle;
  font: 18px 'Roboto', sans-serif;
  border: 0;
}

.friend-search-box input:focus {
    -webkit-input-placeholder: #FFF;
    outline: none;
    transition: background .1s ease-in;
}

.friend-search-box img {
  padding: 4px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.friend-search-results {
  width: 100%;
  max-height: calc(700px - 72px);
  overflow-y: auto;
  overflow-x: hidden;
}

.recentSearchContainer {

}

.searchItem {
  width: 400px;
  height: 72px;
  display: inline-flex;
}

.searchItem h2 {
  width: calc(100% - 168px);
  margin: auto 12px;
  font: 18px 'Roboto', sans-serif;
  color: #4caf50;
}

.searchPicture {
  margin: auto;
  margin-left: 12px;
  margin-right: 12px;
  min-width: 64px;
  height: 64px;
  border-radius: 100px;
}

.friendIndicator {
  margin: auto;
  margin-left: 12px;
  margin-right: 12px;
  min-width: 32px;
  height: 32px;
}

.sendRequest {
  margin: auto;
  margin-left: 12px;
  margin-right: 12px;
  min-width: 32px;
  height: 32px;
  background-image: url('../img/send.png');
  background-size: 32px;
  border: 0;
  cursor: pointer;

  -webkit-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;
}

.sendRequest:hover {
  background-image: url('../img/send-green.png');
  -webkit-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;
}
