.friend-search {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.friend-search-background {
  background-color: rgba(0, 0, 0, 0.64);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.friend-search-container {
  display: flex;
  background-color: white;
  width: 800px;
  max-height: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.friend-search-wrapper {
  width: 400px;
  height: 100%;
  float: left;
  border-right: 1px;
  border-right-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.friend-search-box {
  display: flex;
  padding: 16px;
  float: left;
  width: calc(100% - 32px);
}

.friend-search-box input {
  width: calc(100% - 40px);
  margin: auto;
  margin-left: 0;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  color: #4caf50;
  vertical-align: middle;
  font: 18px 'Roboto', sans-serif;
  border: 0;
}

.friend-search-box input:focus {
    -webkit-input-placeholder: #FFF;
    outline: none;
    transition: background .1s ease-in;
}

.friend-search-box img {
  padding: 4px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.friend-search-results {
  display: inline-block;
  width: 100%;
}

.friend-content-wrapper {
  width: 400px;
  height: 100%;
}

.recentSearchContainer {
  overflow-y: scroll;
  overflow-x: hidden;
}

.recentSearchItem {
  width: 400px;
  height: 72px;
  display: inline-flex;
}

.recentSearchItem h2 {
  width: calc(100% - 168px);
  margin: auto 12px;
  font: 18px 'Roboto', sans-serif;
  color: #4caf50;
}

.recentSearchItem img {
  margin: auto;
  margin-left: 12px;
  margin-right: 12px;
  width: 64px;
  height: 64px;
  border-radius: 100px;
}
