.controls-container {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 100;
}

.controls-container.slide-left {
  -webkit-transform: translateX(-323px);
  transform: translateX(-323px);
  transition-duration: 0.3s;
}

.controls-container.slide-right {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  transition-duration: 0.3s;
}

.center-map-container {
  width: 72px;
  height: 72px;
  background-color: #ff9800;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}

.center-map-container img {
  width: 36px;
  height: 36px;
  margin: auto;
}

.show-share-container {
  width: 72px;
  height: 72px;
  background-color: #4caf50;
  border-radius: 50%;
  margin-bottom: 8px;
  display: flex;
  cursor: pointer;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}

.show-share-container img {
  width: 36px;
  height: 36px;
  margin: auto;
}
