.controls-container {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 100;
}

.center-map-container {
  width: 72px;
  height: 72px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}

.center-map-container img {
  width: 36px;
  height: 36px;
  margin: auto;
}
