.left-nav {

}

.header {
  width: 416px;
  top: 0;
  float: left;
}

.header-image {
  position: relative;
  width: 416px;
}

.header img {
  width: 100%;
}

.user-info {
  position: absolute;
  bottom: 0;
  left: 0;
}

.user-info h2 {
  margin: 24px 12px;
  color: white;
  font: 16px 'Roboto', sans-serif;
  font-weight: bold;
}

.user-info img {
  margin: -12px 12px;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  border-width: 0px;
  border-color: transparent;
}

.nav-items {
  width: 416px;
  height: calc(100% - 277px - 56px);
  overflow-y: auto;
  float: left;
  clear: left;
}

.list_item {
  padding: 16px;
  float: left;
  width: calc(100% - 32px);
  cursor: pointer;

  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.list_item.selected {
  background-color: #4caf50;
}

.list_item.selected a {
  color: white;
}

.list_item.selected:hover {
  background-color: #4caf50;
}

.list_item:hover {
  background-color: rgba(0,0,0,0.08);
  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.list_item a {
  padding-left: 8px;
  text-decoration: none;
  color: black;
  vertical-align: middle;
  font: 18px 'Roboto', sans-serif;
}

.list_item img {
  padding: 4px;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.friend-manager-container {
  display: none;
  width: 100%;
}

.manager-item {
  display: flex;
  padding: 16px;
  float: left;
  width: calc(100% - 32px);
  cursor: pointer;
}

.manager-item a {
  margin: auto;
  margin-left: 0;
  padding-left: 16px;
  text-decoration: none;
  color: #4caf50;
  vertical-align: middle;
  font: 18px 'Roboto', sans-serif;
}

.manager-item img {
  padding: 4px;
  height: 32px;
  width: 32px;
}

.tab-container {
  display: inline-flex;
  height: 72px;
  width: 100%;
  background-color: #4caf50;
}

.tab {
  cursor: pointer;
  width: 50%;
  text-align: center;
}

.tab.selected {
  border: 0;
  border-bottom-width: 4px;
  border-color: #ff9800;
  border-style: solid;
}

.tab a {
  display: inline-block;
  padding-top: 32px;
  font: 18px 'Roboto', sans-serif;
  color: white;
}

.tab-view-container {
  display: inline-flex;
  width: 100%;
}

.current-tab {
  width: 100%;
  height: 320px;
  background-color: black;
}

.pending-tab {
  width: 100%;
  height: 320px;
  background-color: black;
}

.out-view {
  display: none;
}

.nav-settings-bar {
  height: 48px;
  width: 416px;
  float: left;
  clear: left;
}

.settings-wrapper {
  display: inline-flex;
}

#lock {
  background: url(../img/lock.png);
  background-repeat: no-repeat;
  background-position: center;
}

#settings {
  background: url(../img/settings.png);
  background-repeat: no-repeat;
  background-position: center;
}

.settings-wrapper button {
  outline: 0;
  border: 0;
  opacity: 0.7;
  width: calc(416px / 3);
  height: 48px;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
}

.settings-wrapper button:hover {
  opacity: 1;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.settings-wrapper button::selection {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button {
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transpaent;
}
