.settings {
  width: 100%;
  height: 100%;
  min-height: 570px;
  position: absolute;
  top: 0;
  z-index: 1000;
  pointer-events: none;
}

.settings-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.64);
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
}

.settings-container {
  background-color: white;
  width: 700px;
  max-height: 570px;
  top: -570px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  pointer-events: all;
}

.settings-container.open {
  -webkit-transform: translateY(570px);
  transform: translateY(570px);
  transition-duration: 0.3s;
}

.settings-container.closed {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.nav-bar {
  height: 28px;
  width: 100%;
}

.nav-bar h1 {
  float: left;
  margin: auto 0;
  font: 20px 'Roboto', sans-serif;
  padding-left: 12px;
  padding-top: 3px;
  font-weight: 600;
  color: #4caf50;
}

.nav-bar button {
  background: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  margin-top: 5px;
  float: right;
  outline: 0;
  border: 0;
  opacity: 0.7;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
}

.nav-bar button:hover {
  opacity: 1;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.settings-content-container {
  display: flex;
}

.pref-screen {
  width: 50%;
  height: 570px;
  float: left;
  overflow-y: auto;
}

.settings-category {
  display: inline-block;
  width: 100%;
  padding-top: 12px;
}

.heading h3 {
  margin: 0;
  padding-left: 12px;
  font: 14px 'Roboto', sans-serif;
  font-weight: bold;
  color: #ff9800;
}

.item-empty {
  height: 58px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.item-empty:not(.disabled):not(.selected) {
  cursor: pointer;
}

.item-empty:not(.disabled):not(.selected):hover {
  background-color: rgba(0,0,0,0.08);
  -webkit-transition: background ease-in 150ms;
  -moz-transition: background ease-in 150ms;
  -o-transition: background ease-in 150ms;
  transition: background ease-in 150ms;
}

.item-empty.selected {
  background-color: #4caf50;
}

.item-empty.selected.warning {
  background-color: #e53935;
}

.item-empty.selected h4 {
  color: white;
}

.item-empty h4 {
  margin: auto;
  font: 18px 'Roboto', sans-serif;
  width: 100%;
}

.content-screen {
  width: 50%;
  float: right;
  overflow-y: auto;
  background-color: #4caf50;
}

.content-view {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: 350px;
  background-repeat: no-repeat;
}

.content-view.hidden {
  display: none;
}

.content-view-container {

}

.content-view-container.hidden {
  display: none;
}

.content-view.warning {
  background-color: #e53935;
}

.content-view h2 {
  font: 24px 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin-top: 330px;
}

.content-view h3 {
  font: 64px 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin-top: 24px;
}

.content-view h4 {
  font: 18px 'Roboto', sans-serif;
  color: white;
  text-align: center;
  margin-top: 12px;
}

.content-view output {
  position: absolute;
  color: white;
  font: 18px 'Roboto', sans-serif;
  bottom: 160px;
  left: 514.98px;
}

.settings-entry {
  width: 75%;
  margin: auto;
  margin-left: calc(25%/2);
  background: transparent;
  border: 0;
  border-bottom: 1px white solid;
  outline: none;
  color: white;
  font: 18px 'Roboto', sans-serif;
}

.profile-picture-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-picture-file + label {
  color: #ff9800;
  border: 2px solid currentColor;
  border-radius: 50px;
  width: 36%;
  font: 18px 'Roboto', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  margin-left: calc((100% - 36% - 2.5rem)/2);
  margin-top: 230px;
}

.crop-area {
  width: 128px;
  height: 128px;
  position: absolute;
  margin-left: 107px;
  margin-top: 50px;
  border: 4px white solid;
  pointer-events: none;
}

.crop-area-outline {
  position: absolute;
  width: 128px;
  height: 128px;
  margin-top: 32px;
  margin-left: 19px;
  border-left: 92px;
  border-right: 92px;
  border-top: 22px;
  border-bottom: 22px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.profile-canvas {
  background-color: #ff9800;
  margin-top: 32px;
  margin-left: calc((100% - 312px)/2);
  position: static;
}

.nearby-slider {
    -webkit-appearance: none;
    position: absolute;
    width: 300px;
    height: 1px;
    margin: 25px;
    background: #ff9800;
    outline: none;
    bottom: 80px;
}

.nearby-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 100px;
    background-image: url(../img/thumb.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-clip: border-box;
    cursor: pointer;
}

.nearby-slider::-moz-range-thumb {
    width: 50px;
    height: 100px;
    background-image: url(../img/thumb.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-clip: border-box;
    cursor: pointer;
}

.nearby-slider::-ms-track {
  width: 50px;
  height: 100px;
  background-image: url(../img/thumb.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-clip: border-box;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.button {
  position: absolute;
  bottom: 0;
  width: 350px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.button h2 {
  margin: 24px auto;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #FFF;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FFF;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FFF;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFF;
}
